layout {
    swap_tiled_layout name="default" {
        ui exact_panes=3 {
            pane split_direction="vertical" {
                filepicker size=40 name="picker"
                editor
            }
        }
    }

    swap_tiled_layout name="more_pane" {
        ui min_panes=4 {
            pane split_direction="vertical" {
                filepicker size=40 name="picker"
                pane split_direction="horizontal" {
                    editor
                    pane stacked=true { children; }
                }
            }
        }
    }

    pane_template name="filepicker" {
        command "zide-pick"
    }

    pane_template name="editor" {
        command "$EDITOR"
    }

    pane_template name="help_bar" {
        borderless true
        plugin location="status-bar"
    }

    pane_template name="zide_rename" command="zide-rename" close_on_exit=true

    tab_template name="ui" {
        children
        help_bar size=1
    }

    default_tab_template {
        pane split_direction="vertical" {
            filepicker size=40 name="picker"
            editor
        }
        help_bar size=1
    }
}

// keybinds from yazelix
// https://github.com/luccahuguet/yazelix/blob/main/zellij/layouts/yazelix.kdl
keybinds {
    shared {
        // Previously: Ctrl + o (in helix: jump_backward)
        bind "Ctrl e" { SwitchToMode "Session"; }
        unbind "Ctrl o"

        // Previously: Ctrl + s (in helix: save_selection)
        // bind "Alt 1" { SwitchToMode "Scroll"; }
        bind "Ctrl y" { SwitchToMode "Scroll"; }
        unbind "Ctrl s"

        // Previously: Alt + i (in helix: shrink_selection)
        bind "Alt w" { MoveTab "Left"; }
        unbind "Alt i"

        // Previously: Alt + o (in helix: expand_selection)
        bind "Alt q" { MoveTab "Right"; }
        unbind "Alt o"

        // Previously: Alt + n (in helix: select_next_sibling)
        bind "Alt m" { NewPane; }
        unbind "Alt n"

        // Previously: Ctrl + b (in helix: move_page_up)
        bind "Alt 2" { SwitchToMode "Tmux"; }
        unbind "Ctrl b"

        bind "Alt f" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
    }

    session {
        // Exit session mode
        bind "Ctrl e" { SwitchToMode "Normal"; }
        unbind "Ctrl o"
    }

    scroll {
        // Exit scroll mode
        // bind "Alt 1" { SwitchToMode "Normal"; }
        bind "Ctrl y" { SwitchToMode "Normal"; }
        unbind "Ctrl s"
    }

    tmux {
        // Exit tmux mode
        bind "Alt 2" { SwitchToMode "Normal"; }
        unbind "Ctrl b"
    }
}
